html, body {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

* {
    font-family: 'Lato', sans-serif;
    color: #182d45;
}

.glowna {
    background-color: #00669e;
    align-content: center;
}

h1 {
    text-align: center;
    margin-top: 0;
    padding-top: 1%;

}

table {
    width: 50%;
    align-content: center;
    text-align: center;
    margin: 0 auto;
}

td {
    width: 25%;
    font-weight: bolder;
}

.button {
}

#t-chart {
    margin: 2% 25% 0 25%;
}

#r-chart {
    margin: 0 25% 0 25%;
}

.bar {
    fill: steelblue;
}